apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gabbar-build-stakater-nordmart-review-ui
  namespace: openshift-stakater-argocd
  labels:
    tenant.stakater.com/name: "gabbar"
    env.stakater.com/name: "build"
    env.stakater.com/kind: "build"    
spec:
  destination:
    namespace: gabbar-build
    server: 'https://kubernetes.default.svc'
  project: gabbar-build
  source:
    path: 01-gabbar/02-stakater-nordmart-review-ui/00-build
    repoURL: 'https://github.com/stakater/gitops-config-template.git'
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
